<div class="container2">
  <h1>Subject Form - Zwischenstand</h1>
  <form>
   <div class="form-group2">
     <label for="name">Name</label>
     <input type="text" class="form-control2" id="name" required />

   </div>
   <div class="form-group2">
     <label for="startTime">Start Time</label>
     <input type="text" class="form-control2" id="startTime" />
   </div>

   <div class="form-group2">
     <label for=“endTime“>End Time</label>
     <input type="text" class="form-control2" id=" endTime" />
   </div>

   <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>