.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.subjects {
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.subjects li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em 0 0 0;
  padding: .3em 0;
  border-radius: 4px;
  width: 20em;
}
.subjects li:hover {
  color: rgb(0, 0, 0);
  background-color: #BBB;
  left: .1em;
}
.subjects li.selected {
  background-color: rgba(56, 124, 56, 0.74) !important;
  color: white;
}
.circle {
  float: left;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  color: #fff;
  line-height: 2.5em;
  text-align: center;
  background: rgb(7, 145, 224);
}
.subjects .title{
  margin: 0 0 0 3em;
  height: 2.5em;
  line-height: 2.5em;
  top: -1em
}