div{
    position: fixed;
    width: 800px;
}
app-subjects{
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
}
subject-creation{
    display: inline-block;
    position: absolute;
    right: 0;
    left: 200;
}